body {
  padding: none;
  margin: none;
}
#right{
  background-color:#8e9baf;
  width: 50%;
  height: 600px;
}
.headingdiv{
  border-bottom: 1px solid black;
  background-color: #b0c993;
  padding: 2px;
  height: 100px;
}
h3{
  font-family: 'Indie Flower', cursive;
  font-size: 54px;
  margin: 2px;
}
#top-left {
  background-color: blue;
}
#bottom-left {
  background-color: grey;
}
